[Unit]
Description=StateFS FUSE filesystem
After=syslog.target

[Service]
ExecStartPre=/usr/bin/statefs-prerun
ExecStart=/usr/bin/statefs -f /run/state -o allow_other
Restarts=Always
RestartSec=1

[Install]
WantedBy=basic.target
