[Unit]
Description=StateFS FUSE filesystem

[Service]
ExecStartPre=/usr/bin/statefs-prerun
ExecStart=/usr/bin/statefs ${XDG_RUNTIME_DIR}/state -f
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
